<a href="https://colab.research.google.com/github/N3REN/python-pathway/blob/main/Python%20MongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Install mongodb
!apt install mongodb >log
!service mongodb start

from pymongo import MongoClient

client = MongoClient()
client.list_database_names()

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

 * Starting database mongodb
   ...done.

['admin', 'local']

In [ ]:
# Create database
import pymongo

client = pymongo.MongoClient("mongodb://localhost:27017/")

colabdb = client["newdatabase"]

In [ ]:
# A collection is the same as a table

newcoll = colabdb["newtable"]

In [ ]:
# A document is the same as a record (or row)
# Create a document using the 'insert_one()' method
# The new document is in dict form

newdict = {"fname": "Tyler", "lname": "Chesky", "address": "22 Southampton"}

x = newcoll.insert_one(newdict)

In [ ]:
# MongoDB returns an _id for an inserted document if one is not specified

print(x.inserted_id)

625b17b6470a249dff08b824

In [ ]:
# MongoDB waits until a document
# is added to a collection in a
# database before creating the
# collection and database

#Check if database exists
print(client.list_database_names())

['admin', 'local', 'newdatabase']

Check if table exists

In [ ]:
listtb = colabdb.list_collection_names()

print(listtb)
#OR
if "newtable" in listtb:
    print("Your table exists.")

['newtable']
Your table exists.

Insert many documents

In [ ]:
manydicts = [
             {"fname": "Steve", "lname": "Graham", "address": "Paradise St., No. 27"},
             {"fname": "John", "lname": "Macmillan", "address": "7 Busy St."},
             {"fname": "Bill", "lname": "Green", "address": "29 Main St"},
             {"fname": "Davis", "lname": "West", "address": "57 Maple Avenue"},
             {"fname": "Harry", "lname": "Dimitriov", "address": "13 South Boulevard"}
]

y = newcoll.insert_many(manydicts)

In [ ]:
# insert_many() returns _id(s) for each inserted item

print(y.inserted_ids)

[ObjectId('625b17ca470a249dff08b825'), ObjectId('625b17ca470a249dff08b826'), ObjectId('625b17ca470a249dff08b827'), ObjectId('625b17ca470a249dff08b828'), ObjectId('625b17ca470a249dff08b829')]

_insert_many_ with specified __id_(s)

In [ ]:
manydicts = [
            {"_id": 1, "fname": "Travis", "lname": "Wyatt", "address": "22 Elm Street"},
            {"_id": 2, "fname": "Umar", "lname": "Abu", "address": "37 5th Avenue"},
            {"_id": 3, "fname": "Christopher", "lname": "Lee", "address": "West 22, 117th Street"},
            {"_id": 4, "fname": "David", "lname": "Roberts", "address": "81 Pine Boulevard"},
            {"_id": 5, "fname": "Jonathan", "lname": "Columbus", "address": "52 72nd Street"}
]

z = newcoll.insert_many(manydicts)
print(z.inserted_ids)

[1, 2, 3, 4, 5]

**MongoDB Find**

-'find()' and 'findone()' work like MySQL 'SELECT'

-The 'find_one()' method returns the first occurrence in the selection

-'find()' works like 'SELECT *' in MySQL by selecting all occurences

In [ ]:
# find_one()
a = newcoll.find_one() # this will return the first document in the collection

print(a)

{'_id': ObjectId('625b17b6470a249dff08b824'), 'fname': 'Tyler', 'lname': 'Chesky', 'address': '22 Southampton'}

In [ ]:
# find() (find({"column": "content"})
for b in newcoll.find():
    print(b)

{'_id': ObjectId('625b17b6470a249dff08b824'), 'fname': 'Tyler', 'lname': 'Chesky', 'address': '22 Southampton'}
{'_id': ObjectId('625b17ca470a249dff08b825'), 'fname': 'Steve', 'lname': 'Graham', 'address': 'Paradise St., No. 27'}
{'_id': ObjectId('625b17ca470a249dff08b826'), 'fname': 'John', 'lname': 'Macmillan', 'address': '7 Busy St.'}
{'_id': ObjectId('625b17ca470a249dff08b827'), 'fname': 'Bill', 'lname': 'Green', 'address': '29 Main St'}
{'_id': ObjectId('625b17ca470a249dff08b828'), 'fname': 'Davis', 'lname': 'West', 'address': '57 Maple Avenue'}
{'_id': ObjectId('625b17ca470a249dff08b829'), 'fname': 'Harry', 'lname': 'Dimitriov', 'address': '13 South Boulevard'}
{'_id': 1, 'fname': 'Travis', 'lname': 'Wyatt', 'address': '22 Elm Street'}
{'_id': 2, 'fname': 'Umar', 'lname': 'Abu', 'address': '37 5th Avenue'}
{'_id': 3, 'fname': 'Christopher', 'lname': 'Lee', 'address': 'West 22, 117th Street'}
{'_id': 4, 'fname': 'David', 'lname': 'Roberts', 'address': '81 Pine Boulevard'}
{'_id': 5, 'fname': 'Jonathan', 'lname': 'Columbus', 'address': '52 72nd Street'}

**Find: Return only some fields**

Optionally specify (in addition to a query) which fields to return

In [ ]:
for i in newcoll.find({}, {'_id': False, "fname": True, "lname": True, "address": True}):
    print(i)

{'fname': 'Tyler', 'lname': 'Chesky', 'address': '22 Southampton'}
{'fname': 'Steve', 'lname': 'Graham', 'address': 'Paradise St., No. 27'}
{'fname': 'John', 'lname': 'Macmillan', 'address': '7 Busy St.'}
{'fname': 'Bill', 'lname': 'Green', 'address': '29 Main St'}
{'fname': 'Davis', 'lname': 'West', 'address': '57 Maple Avenue'}
{'fname': 'Harry', 'lname': 'Dimitriov', 'address': '13 South Boulevard'}
{'fname': 'Travis', 'lname': 'Wyatt', 'address': '22 Elm Street'}
{'fname': 'Umar', 'lname': 'Abu', 'address': '37 5th Avenue'}
{'fname': 'Christopher', 'lname': 'Lee', 'address': 'West 22, 117th Street'}
{'fname': 'David', 'lname': 'Roberts', 'address': '81 Pine Boulevard'}
{'fname': 'Jonathan', 'lname': 'Columbus', 'address': '52 72nd Street'}

Excluding any column(s) includes all the others, and including any column(s) excludes the others.

In [ ]:
for i in newcoll.find({}, {"address": 0}):
    print(i)

{'_id': ObjectId('625b17b6470a249dff08b824'), 'fname': 'Tyler', 'lname': 'Chesky'}
{'_id': ObjectId('625b17ca470a249dff08b825'), 'fname': 'Steve', 'lname': 'Graham'}
{'_id': ObjectId('625b17ca470a249dff08b826'), 'fname': 'John', 'lname': 'Macmillan'}
{'_id': ObjectId('625b17ca470a249dff08b827'), 'fname': 'Bill', 'lname': 'Green'}
{'_id': ObjectId('625b17ca470a249dff08b828'), 'fname': 'Davis', 'lname': 'West'}
{'_id': ObjectId('625b17ca470a249dff08b829'), 'fname': 'Harry', 'lname': 'Dimitriov'}
{'_id': 1, 'fname': 'Travis', 'lname': 'Wyatt'}
{'_id': 2, 'fname': 'Umar', 'lname': 'Abu'}
{'_id': 3, 'fname': 'Christopher', 'lname': 'Lee'}
{'_id': 4, 'fname': 'David', 'lname': 'Roberts'}
{'_id': 5, 'fname': 'Jonathan', 'lname': 'Columbus'}

Do not specify both 0 and 1 in the same search (except if one of the columns is the '_id' field) otherwise an error is raised

In [ ]:
for i in newcoll.find({}, {"fname": 0, "address": 1}):
    print(i)

OperationFailure: ignored

**MongoDB Query**

Use a query in 'find()' to limit the search

In [ ]:
for i in newcoll.find({"fname": "Davis"}, {"_id": 0}):
    print(i)

{'fname': 'Davis', 'lname': 'West', 'address': '57 Maple Avenue'}

Advanced queries:

In [ ]:
# Find address that start with letters 'P' or greater (...W, X, Y, Z)

for i in newcoll.find({"address": {"$gt": "P"}}):
    print(i)

{'_id': ObjectId('625b17ca470a249dff08b825'), 'fname': 'Steve', 'lname': 'Graham', 'address': 'Paradise St., No. 27'}
{'_id': 3, 'fname': 'Christopher', 'lname': 'Lee', 'address': 'West 22, 117th Street'}

Regular expressions can also be used as search modifiers

In [ ]:
# Find first names that start with 'Da'

for i in newcoll.find({"fname": {"$regex": "^Da"}}):
    print(i)

{'_id': ObjectId('625b17ca470a249dff08b828'), 'fname': 'Davis', 'lname': 'West', 'address': '57 Maple Avenue'}
{'_id': 4, 'fname': 'David', 'lname': 'Roberts', 'address': '81 Pine Boulevard'}

**MongoDB Sort:**

Use '.sort()' to arrange the results in ascending (default) order descending order.

In [ ]:
# Sort by first name

for i in newcoll.find({}, {"_id": 0}).sort("fname"):
    print(i)

{'fname': 'Bill', 'lname': 'Green', 'address': '29 Main St'}
{'fname': 'Christopher', 'lname': 'Lee', 'address': 'West 22, 117th Street'}
{'fname': 'David', 'lname': 'Roberts', 'address': '81 Pine Boulevard'}
{'fname': 'Davis', 'lname': 'West', 'address': '57 Maple Avenue'}
{'fname': 'Harry', 'lname': 'Dimitriov', 'address': '13 South Boulevard'}
{'fname': 'John', 'lname': 'Macmillan', 'address': '7 Busy St.'}
{'fname': 'Jonathan', 'lname': 'Columbus', 'address': '52 72nd Street'}
{'fname': 'Steve', 'lname': 'Graham', 'address': 'Paradise St., No. 27'}
{'fname': 'Travis', 'lname': 'Wyatt', 'address': '22 Elm Street'}
{'fname': 'Tyler', 'lname': 'Chesky', 'address': '22 Southampton'}
{'fname': 'Umar', 'lname': 'Abu', 'address': '37 5th Avenue'}

Sort ascending or descending

In [ ]:
# Sort ascending: Use '1'

d = newcoll.find({}, {"_id": 0})

for i in d.sort("lname", 1):
    print(i)

{'fname': 'Umar', 'lname': 'Abu', 'address': '37 5th Avenue'}
{'fname': 'Tyler', 'lname': 'Chesky', 'address': '22 Southampton'}
{'fname': 'Jonathan', 'lname': 'Columbus', 'address': '52 72nd Street'}
{'fname': 'Harry', 'lname': 'Dimitriov', 'address': '13 South Boulevard'}
{'fname': 'Steve', 'lname': 'Graham', 'address': 'Paradise St., No. 27'}
{'fname': 'Bill', 'lname': 'Green', 'address': '29 Main St'}
{'fname': 'Christopher', 'lname': 'Lee', 'address': 'West 22, 117th Street'}
{'fname': 'John', 'lname': 'Macmillan', 'address': '7 Busy St.'}
{'fname': 'David', 'lname': 'Roberts', 'address': '81 Pine Boulevard'}
{'fname': 'Davis', 'lname': 'West', 'address': '57 Maple Avenue'}
{'fname': 'Travis', 'lname': 'Wyatt', 'address': '22 Elm Street'}

In [ ]:
# Sort descending: Use '-1'

e = newcoll.find({}, {"_id": 0})
for i in e.sort("lname", -1):
    print(i)

{'fname': 'Travis', 'lname': 'Wyatt', 'address': '22 Elm Street'}
{'fname': 'Davis', 'lname': 'West', 'address': '57 Maple Avenue'}
{'fname': 'David', 'lname': 'Roberts', 'address': '81 Pine Boulevard'}
{'fname': 'John', 'lname': 'Macmillan', 'address': '7 Busy St.'}
{'fname': 'Christopher', 'lname': 'Lee', 'address': 'West 22, 117th Street'}
{'fname': 'Bill', 'lname': 'Green', 'address': '29 Main St'}
{'fname': 'Steve', 'lname': 'Graham', 'address': 'Paradise St., No. 27'}
{'fname': 'Harry', 'lname': 'Dimitriov', 'address': '13 South Boulevard'}
{'fname': 'Jonathan', 'lname': 'Columbus', 'address': '52 72nd Street'}
{'fname': 'Tyler', 'lname': 'Chesky', 'address': '22 Southampton'}
{'fname': 'Umar', 'lname': 'Abu', 'address': '37 5th Avenue'}

**MongoDB Delete**

Delete one document

In [ ]:
# Delete the first entry

newcoll.delete_one({})

for i in newcoll.find():
    print(i)

{'_id': ObjectId('625b17ca470a249dff08b825'), 'fname': 'Steve', 'lname': 'Graham', 'address': 'Paradise St., No. 27'}
{'_id': ObjectId('625b17ca470a249dff08b826'), 'fname': 'John', 'lname': 'Macmillan', 'address': '7 Busy St.'}
{'_id': ObjectId('625b17ca470a249dff08b827'), 'fname': 'Bill', 'lname': 'Green', 'address': '29 Main St'}
{'_id': ObjectId('625b17ca470a249dff08b828'), 'fname': 'Davis', 'lname': 'West', 'address': '57 Maple Avenue'}
{'_id': ObjectId('625b17ca470a249dff08b829'), 'fname': 'Harry', 'lname': 'Dimitriov', 'address': '13 South Boulevard'}
{'_id': 1, 'fname': 'Travis', 'lname': 'Wyatt', 'address': '22 Elm Street'}
{'_id': 2, 'fname': 'Umar', 'lname': 'Abu', 'address': '37 5th Avenue'}
{'_id': 3, 'fname': 'Christopher', 'lname': 'Lee', 'address': 'West 22, 117th Street'}
{'_id': 4, 'fname': 'David', 'lname': 'Roberts', 'address': '81 Pine Boulevard'}
{'_id': 5, 'fname': 'Jonathan', 'lname': 'Columbus', 'address': '52 72nd Street'}

In [ ]:
# Delete an entry with a query
# delete_one() deletes the 1st occurrence 
# if there are more than one

newcoll.delete_one({"lname": {"$regex": "^Gr"}})

for i in newcoll.find():
    print(i)

{'_id': ObjectId('625b17ca470a249dff08b826'), 'fname': 'John', 'lname': 'Macmillan', 'address': '7 Busy St.'}
{'_id': ObjectId('625b17ca470a249dff08b827'), 'fname': 'Bill', 'lname': 'Green', 'address': '29 Main St'}
{'_id': ObjectId('625b17ca470a249dff08b828'), 'fname': 'Davis', 'lname': 'West', 'address': '57 Maple Avenue'}
{'_id': ObjectId('625b17ca470a249dff08b829'), 'fname': 'Harry', 'lname': 'Dimitriov', 'address': '13 South Boulevard'}
{'_id': 1, 'fname': 'Travis', 'lname': 'Wyatt', 'address': '22 Elm Street'}
{'_id': 2, 'fname': 'Umar', 'lname': 'Abu', 'address': '37 5th Avenue'}
{'_id': 3, 'fname': 'Christopher', 'lname': 'Lee', 'address': 'West 22, 117th Street'}
{'_id': 4, 'fname': 'David', 'lname': 'Roberts', 'address': '81 Pine Boulevard'}
{'_id': 5, 'fname': 'Jonathan', 'lname': 'Columbus', 'address': '52 72nd Street'}

Delete Many

In [ ]:
# Select documents to delete with query

g = newcoll.delete_many({"fname": {"$gt": "Ty"}})

for i in newcoll.find({}, {"_id": 0}).sort("fname"):
    print(i)

print(g.deleted_count)

{'fname': 'Bill', 'lname': 'Green', 'address': '29 Main St'}
{'fname': 'Christopher', 'lname': 'Lee', 'address': 'West 22, 117th Street'}
{'fname': 'David', 'lname': 'Roberts', 'address': '81 Pine Boulevard'}
{'fname': 'Davis', 'lname': 'West', 'address': '57 Maple Avenue'}
{'fname': 'Harry', 'lname': 'Dimitriov', 'address': '13 South Boulevard'}
{'fname': 'John', 'lname': 'Macmillan', 'address': '7 Busy St.'}
{'fname': 'Jonathan', 'lname': 'Columbus', 'address': '52 72nd Street'}
{'fname': 'Travis', 'lname': 'Wyatt', 'address': '22 Elm Street'}
1

Delete all entries

In [ ]:
# Delete all documents (skipped until after limit)

h = newcoll.delete_many({})

print(h.deleted_count)

8

**MongoDB Delete Table**

In [ ]:
# Use drop to delete a table (skipped until after Limit and delete many (2))

j = newcoll.drop() # False if table does not exist

**MongoDB Update**

Update one

In [ ]:
# Update one document

k = newcoll.update_one({"fname": "Bill"}, {"$set": {"fname": "Fredrick"}}) # updates the first record that matches the query

for i in newcoll.find():
    print(i)

{'_id': ObjectId('625b17ca470a249dff08b826'), 'fname': 'John', 'lname': 'Macmillan', 'address': '7 Busy St.'}
{'_id': ObjectId('625b17ca470a249dff08b827'), 'fname': 'Fredrick', 'lname': 'Green', 'address': '29 Main St'}
{'_id': ObjectId('625b17ca470a249dff08b828'), 'fname': 'Davis', 'lname': 'West', 'address': '57 Maple Avenue'}
{'_id': ObjectId('625b17ca470a249dff08b829'), 'fname': 'Harry', 'lname': 'Dimitriov', 'address': '13 South Boulevard'}
{'_id': 1, 'fname': 'Travis', 'lname': 'Wyatt', 'address': '22 Elm Street'}
{'_id': 3, 'fname': 'Christopher', 'lname': 'Lee', 'address': 'West 22, 117th Street'}
{'_id': 4, 'fname': 'David', 'lname': 'Roberts', 'address': '81 Pine Boulevard'}
{'_id': 5, 'fname': 'Jonathan', 'lname': 'Columbus', 'address': '52 72nd Street'}

Update many

In [ ]:
to_update = {"address": {"$regex": "^2"}}

new = {"$set": {"lname": "Robinson"}}

l = newcoll.update_many(to_update, new)

for i in newcoll.find():
    print(i)

{'_id': ObjectId('625b17ca470a249dff08b826'), 'fname': 'John', 'lname': 'Macmillan', 'address': '7 Busy St.'}
{'_id': ObjectId('625b17ca470a249dff08b827'), 'fname': 'Fredrick', 'lname': 'Robinson', 'address': '29 Main St'}
{'_id': ObjectId('625b17ca470a249dff08b828'), 'fname': 'Davis', 'lname': 'West', 'address': '57 Maple Avenue'}
{'_id': ObjectId('625b17ca470a249dff08b829'), 'fname': 'Harry', 'lname': 'Dimitriov', 'address': '13 South Boulevard'}
{'_id': 1, 'fname': 'Travis', 'lname': 'Robinson', 'address': '22 Elm Street'}
{'_id': 3, 'fname': 'Christopher', 'lname': 'Lee', 'address': 'West 22, 117th Street'}
{'_id': 4, 'fname': 'David', 'lname': 'Roberts', 'address': '81 Pine Boulevard'}
{'_id': 5, 'fname': 'Jonathan', 'lname': 'Columbus', 'address': '52 72nd Street'}

**MongoDB Limit**

In [ ]:
# Limit the number of result to display

m = newcoll.find().limit(3)

for i in m:
    print(i)

{'_id': ObjectId('625b17ca470a249dff08b826'), 'fname': 'John', 'lname': 'Macmillan', 'address': '7 Busy St.'}
{'_id': ObjectId('625b17ca470a249dff08b827'), 'fname': 'Fredrick', 'lname': 'Robinson', 'address': '29 Main St'}
{'_id': ObjectId('625b17ca470a249dff08b828'), 'fname': 'Davis', 'lname': 'West', 'address': '57 Maple Avenue'}